/*
colors:
gris #1f1f1f
white
black
*/

@font-face {
  font-family: 'Mont-Bold';
  src: url('../fonts/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'Mont-Regular';
  src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Mont-Light';
  src: url('../fonts/Montserrat-Light.ttf');
}
@font-face{
  font-family: 'bebas';
  src: url('../fonts/bebas.ttf');
}
@font-face{
  font-family: 'Poiret';
  src: url('../fonts/PoiretOne.ttf');
}
@font-face{
  font-family: 'Paytone';
  src: url('../fonts/PaytoneOne.ttf');
}

body{
  margin: 0;
}

h1{
  font-family: 'Mont-Regular';
  font-size: 30px;
  letter-spacing: 10px;
}

h2{
  font-family: 'Paytone';
  font-size: 30px;
  letter-spacing: 5px;
  color: white;
}

h3{
  font-family: 'Mont-Bold';
  font-size: 30px;
  letter-spacing: 2px;
  color: black;
}

h4{
  font-family: 'Mont-Light';
  font-size: 15px;
  color: black;
  margin: 0;
}

h5{
  font-family: 'Poiret';
  font-size: 15px;
  letter-spacing: 2px;
  color: white;
}


.top__bar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo__animation{
  height: 46px;
  width: 46px;
  margin-left: 25px;
}

#menu__button{
  height: 46px;
  width: 46px;
  margin-right: 25px;
}

#menu__animation{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  height: 100%;
  width: 100%;
  display: none;
}

#menu{
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 10px;
  opacity: 0;
  z-index: 998;
  overflow-x: hidden;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

#menu ul{
  list-style: none;
  text-align: center;
  padding: 0;
  position: relative;
  z-index: 999;
}

#menu ul li{
  margin: 10px;
}

.menu__btn{
  font-family: 'bebas';
  font-size: 50px;
  margin: 20px;
  cursor: pointer;
  color: grey;
  text-decoration: none;
  letter-spacing: 6px;
}

.active, .menu__btn:hover{
  color: white;
}

.content{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-image: url('../img/SVG/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.left__side{
  flex: 50%;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.title{
  margin-right: 40px;
}
span{
  font-family: 'Mont-Light';
  font-size: 15px;
  letter-spacing: 3px;
  margin-left: 10px;
}

.right__side{
  flex: 50%;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#circle__animation{
  height: 75%;
}

.menu_text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10vw;
  background-color: white;
}

#title_text{
  font-size: 8px;
  font-family: 'Mont-Bold';
}

#open_text{
  font-size: 8px;
  font-family: 'Mont-Bold';
}

div.menu_text span#title_text {
  display: inline;
}

div.menu_text:hover span#title_text {
  display: none;
}

div.menu_text span#open_text {
  display: none;
}

div.menu_text:hover span#open_text {
  display: inline;
}

.social__link{
  position: absolute;
  z-index: 998;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  font-size: 25px;
}

.social__link i{
  margin-bottom: 30px;
  color: black;
}

.scroll__arrow{
  position: absolute;
  bottom: -25px;
  right: 0px;
  margin-right: 25px;
  width: 25px;
}

.content__about{
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  background-color: black;
}

.about__portrait{
  background-image: url('../img/portrait.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 150px;
  margin-top: 150px;
  width: 50%;
  color: white;
}

.add__competences__progress{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.border__bar{
  background-color: #dedede;
  width: 50%;
  height: 6px;
}

.progress__bar{
  background-color: #d6b161;
  height: 6px;
}

.french{
  width: 0;
  transition: 0.8s;
}

.english{
  width: 0;
  transition: 0.8s;
}

.python{
  width: 0;
  transition: 0.8s;
}

.js{
  width: 0;
  transition: 0.8s;
}

.c_language{
  width: 0;
  transition: 0.8s;
}

.html_css{
  width: 0;
  transition: 0.8s;
}

.premiere_pro{
  width: 0;
  transition: 0.8s;
}

.after_effects{
  width: 0;
  transition: 0.8s;
}

.lightroom{
  width: 0;
  transition: 0.8s;
}

.illustrator{
  width: 0;
  transition: 0.8s;
}

.photoshop{
  width: 0;
  transition: 0.8s;
}

.xd_rate{
  width: 0;
  transition: 0.8s;
}

.education{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.experience{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 300px;
}

.education__lines{
  position: relative;
  border-left: 1px solid #f1f1f1;
}

#align__right{
  margin-left: 20px;
}

.circle__left{
  position: absolute;
  top: -5px;
  left: -5px;
  height: 10px;
  width: 10px;
  background-color: #d6b161;
  border-radius: 5px;
}

.title__education{
  font-family: 'Mont-Bold';
  font-size: 10px;
}

.date__education{
  font-family: 'Mont-Light';
  font-size: 10px;
}

#about__arrow{
  display: none;
}

.form__message{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 9;
}

.form__nom{
  width: 70%;
  border-top: none;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Mont-Regular';
  font-size: 12px;
  background-color: transparent;
}

.form__nom::placeholder{
  color: grey;
}

.form__email{
  width: 70%;
  border-top: none;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Mont-Regular';
  font-size: 12px;
  background-color: transparent;
}

.form__email::placeholder{
  color: grey;
}

.form__text{
  width: 70%;
  border-top: none;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Mont-Regular';
  font-size: 12px;
  background-color: transparent;
}

.form__text::placeholder{
  color: grey;
}

.form__button{
  margin-top: 25px;
  width: 71%;
  margin-left: auto;
  margin-right: auto;
  height: 32px;
  background-color: black;
  color: white;
  font-family: 'Mont-Bold';
  font-size: 12px;
  transition: 0.4s;
  border-color: black;
}

.form__button:hover{
  color: black;
  border: 2px solid black;
  background-color: white;
}

#message__align{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.content__contact{
  margin-top: 150px;
  position: relative;
  z-index: 997;
}

.last__work__title{
  width: 100vw;
  height: 50vh;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 10;
  box-shadow: 0px 0px 10px 3px #1f1f1f;
}

.last__work__content{
  margin-left: 150px;
}

.coding__tello{
  width: 100vw;
  height: 100vh;
  background-color: grey;
  display: flex;
  flex-direction: row;
  position: relative;
}

.right__display{
  flex:90%;
  background-image: url('../img/SVG/lespoteauxmak.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: saturate(0);
  transition: 0.4s;
}

.white__border{
  flex: 10%;
  width: 10vw;
  height: 100%;
  background-color: white;
}

.right__display:hover{
  filter: saturate(1);
}

.tello__description{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 90%;
  height: 25%;
  background-color: white;
}

.tello__description h3{
  margin-left: 150px;
}

.drone__car{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
  transition: 0.4s;
}

.left__display{
  flex:90%;
  background-image: url('../img/drone_toit2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: saturate(0);
  transition: 0.4s;
}

.left__display:hover{
  filter: saturate(1);
}

.car__description{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 90%;
  height: 25%;
  background-color: white;
}

.car__description h3{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 150px;
}

.align__second{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content__service{
  width: 100vw;
  height: 60vh;
  position: relative;
  background-color: white;
  display: flex;
}

.services{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.services__box{
  width: 33%;
}

.border__one{
  box-sizing: border-box;
  border-bottom: 1px solid #dedede;
}

.border__two{
  box-sizing: border-box;
  border-bottom: 1px solid #dedede;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
}

.border__three{
  box-sizing: border-box;
  border-bottom: 1px solid #dedede;
}

.border__five{
  box-sizing: border-box;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
}

.index__footer{
  width: 100vw;
  height: 30vh;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.index__footer a i{
  color: white;
  font-size: 25px;
  margin: 10px;
}

.index__footer p{
  color: white;
  font-size: 15px;
  margin: 10px;
}

#service__title{
  font-family: 'Mont-Bold';
}

#service__description{
  font-family: 'Mont-Light';
}

.coding__white{
  width: 100vw;
  height: 100vh;
  display: flex;
  background-image: url('../img/SVG/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.coding__grey{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-image: url('../img/SVG/test2.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.left__python{
  flex: 50%;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right__python{
  flex: 50%;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.number__bar{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.white__bar{
  height: 2px;
  width: 40px;
  background-color: black;
}

.number{
  margin-left: 10px;
}

.left__python img{
  width: 60%;
  margin-left: auto;
}

.project__title{
  margin-left: 40px;
}

.project__description{
  margin-left: 40px;
  width: 80%;
}

.project__tech{
  margin-left: 40px;
}

.project__link{
  margin-left: 40px;
}

.drone__row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4px;
  margin-top: 150px;
}

.drone__column{
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.drone__column img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: 100%;
}

#loader{
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  transition: 0.8s;
}

#redirect{
  position: absolute;
  z-index: 9999;
}


/********* MOBILE **********/
@media (max-width: 768px) {

  h2{
    font-size: 18px;
    letter-spacing: 3px;
    margin-left: 6px;
  }

  h5{
    font-size: 13px;
    letter-spacing: 2px;
    margin-left: 12px;
  }
  h3{
    font-size: 18px;
    letter-spacing: 3px;
  }

  .social__link{
    position: absolute;
    bottom: 0;
    top: unset;
    transform: unset;
  }

  #circle__animation{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 60%;
  }

  .left__side{
    align-items: flex-start;
  }

  .title{
    margin-left: 5px;
    width: 100%;
  }

  h1{
    font-size: 18px;
    letter-spacing: 2px;
    text-decoration: line-through;
  }

  span{
    font-size: 8px;
    letter-spacing: 2px;
  }

  .scroll__arrow{
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    margin-right: 0;
    width: 25px;
  }

  .hide__me{
    display: none;
  }

  .content__about{
    position: unset;
  }

  .about{
    position: unset;
    background-color: black;
    width: 100%;
    padding-top: 25px;
    margin-left: 0;
    margin-top: 0;
  }

  .about__me{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .experience{
    margin-bottom: 0;
    padding-bottom: 100px;
  }

  .skills{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .education{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .experience{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #description__education{
    margin-left: 8px;
  }

  .about__portrait{
    position: relative;
  }

  #about__arrow{
    display: block;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
  }
  .services__box{
    width: 50%;
  }

  .services{
    height: 100%;
    width: 100%;
  }

  .border__one{
    box-sizing: border-box;
    border-right: 1px solid #dedede;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
  }

  .border__two{
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
  }

  .border__three{
    box-sizing: border-box;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-left: 0;
    border-right: 1px solid #dedede;
  }

  .border__four{
    box-sizing: border-box;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-left: 0;
    border-right: 0;
  }

  .border__five{
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-right: 1px solid #dedede;
  }

  .border__six{
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
  }

  .menu_text{
    width: 25vw;
  }

  .tello__description{
    width: 100vw;
  }

  .last__work__content{
    margin-left: 0;
  }

  .index__footer{
    width: 100vw;
  }

  .content{
    background-image: none;
  }

  .car__description{
    width: 100vw;
  }

  .content__service{
    height: auto;
  }

  .white__border{
    display: none;
  }

  .last__work__title{
    height: 30vh;
  }

  .tello__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .tello__description h3{
    margin-left: 8px;
  }

  .tello__description h5{
    color: black;
  }

  .car__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .car__description h3{
    justify-content: flex-start;
    margin-left: 8px;
  }

  .car__description h5{
    color: black;
  }

  .drone__column{
    flex: 100%;
    max-width: 100%;
  }

  .coding__white{
    display: block;
  }

  .coding__grey{
    display: block;
  }

  .left__python{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .left__python img{
    width: 100%;
    margin-bottom: 10px;
  }

  .right__python{
    width: 100%;
    height: 50%;
  }

  #display__video__toit iframe{
    width: 100%;

  }
}
