{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="content__about">
  <div class="left__side hide__me"></div>
  <div class="right__side about__portrait">
    <img id="about__arrow" src="{% static 'img/SVG/about.svg'%}" alt="">
  </div>
</div>
<div class="about">
  <div class="about__me">
    <h1>ABOUT ME.</h1>
    <p>Felix Maillet, né le 23/12/1994.</p>
    <p>Sportif, ayant trouvé dans l’informatique et le pilotage de drone un nouveau défi.
  Lors de sa jeunesse, il développe une passion pour les sports automobiles et des l âge de 10 ans il débute la compétition en karting, pour finalement, à dix huit ans, rejoindre l'Autosport Académie du Mans.
  Mais quelques années plus tard il se découvre atteint d’une maladie neurologique et doit mettre fin à sa jeune carrière de coureur automobile.
  Avec la force de vivre qu’ont ceux qui vainquent la maladie, il décide d’un nouveau challenge: il sera développeur python.
  Durant ses études il gagne son argent de poche en tant que monteur pour de célèbres sociétés de production, ou encore pour les clips de la chanteuse Anna kova. En observant les images des autres, il se rêve à tourner les siennes. Mais le sentiment de vitesse doit être présent, partout, tout le temps. En découvrant le drone, toutes ses passions se matérialisent en un seul objet: sensation de vitesse, codages du drone, images grandioses. Apres avoir rasé l’asphalte, assis dans son baquet, il le suit de haut, avec bienveillance.</p>
  </div>
  <div id="competences__target" class="skills">
    <h1>SKILLS.</h1>
    <p>LANGAGES.</p>
    <div class="add__competences__progress">
      <p>Francais</p>
      <div class="border__bar">
        <div class="progress__bar french"></div>
      </div>
    </div>
    <div class="add__competences__progress">
      <p>Anglais</p>
      <div class="border__bar">
        <div class="progress__bar english"></div>
      </div>
    </div>
    <p>IT.</p>
    <div class="add__competences__progress">
      <p>Python</p>
      <div class="border__bar">
        <div class="progress__bar python"></div>
      </div>
    </div>
    <div class="add__competences__progress">
      <p>Js</p>
      <div class="border__bar">
        <div class="progress__bar js"></div>
      </div>
    </div>
    <div class="add__competences__progress">
      <p>C</p>
      <div class="border__bar">
        <div class="progress__bar c_language"></div>
      </div>
    </div>
    <div class="add__competences__progress">
      <p>Html/Css</p>
      <div class="border__bar">
        <div class="progress__bar html_css"></div>
      </div>
    </div>
    <p>ADOBE.</p>
    <div class="add__competences__progress">
      <p>Premiere Pro</p>
      <div class="border__bar">
        <div class="progress__bar premiere_pro"></div>
      </div>
    </div>
    <div class="add__competences__progress">
      <p>After Effects</p>
      <div class="border__bar">
        <div class="progress__bar after_effects"></div>
      </div>
    </div>
    <div class="add__competences__progress">
      <p>Lightroom</p>
      <div class="border__bar">
        <div class="progress__bar lightroom"></div>
      </div>
    </div>
    <div class="add__competences__progress">
      <p>Illustrator</p>
      <div class="border__bar">
        <div class="progress__bar illustrator"></div>
      </div>
    </div>
    <div class="add__competences__progress">
      <p>Photoshop</p>
      <div class="border__bar">
        <div class="progress__bar photoshop"></div>
      </div>
    </div>
    <div class="add__competences__progress">
      <p>Xd</p>
      <div class="border__bar">
        <div class="progress__bar xd_rate"></div>
      </div>
    </div>
  </div>
  <div class="education">
    <h1>EDUCATIONS.</h1>
    <div class="education__lines">
      <div class="circle__left"></div>
      <p class="title__education" id="align__right">PYTHON DEVELOPER @OPENCLASSROOMS</p>
      <p class="date__education" id="align__right">January 2018 - January 2019</p>
    </div>
    <div class="education__lines">
      <div class="circle__left"></div>
      <p class="title__education" id="align__right">DEVELOPER C @EPITECH</p>
      <p class="date__education" id="align__right">March 2017 - December 2017</p>
    </div>
    <div class="education__lines">
      <div class="circle__left"></div>
      <p class="title__education" id="align__right">PISCINE @42</p>
      <p class="date__education" id="align__right">July 2016</p>
    </div>
    <div class="education__lines">
      <div class="circle__left"></div>
      <p class="title__education" id="align__right">FFSA ACADEMY @LE MANS</p>
      <p class="date__education" id="align__right">October 2014 - November 2015</p>
    </div>
    <div class="education__lines">
      <div class="circle__left"></div>
      <p class="title__education" id="align__right">BAC-ES(Maths)</p>
      <p class="date__education" id="align__right">July 2013</p>
    </div>
  </div>
  <div class="experience">
    <h1>EXPERIENCES.</h1>
    <div class="education__lines">
      <div class="circle__left"></div>
      <p class="title__education" id="align__right">DRONISTE @FRAMES DEALER</p>
      <p class="date__education" id="align__right">Avril 2019</p>
      <p class="date__education">Réalisation de contenu vidéo aérien.</p>
    </div>
    <div class="education__lines">
      <div class="circle__left"></div>
      <p class="title__education" id="align__right">MONTEUR @FREELANCE</p>
      <p class="date__education" id="align__right">Juillet 2016 - Novembre 2017</p>
      <p class="date__education">Pubs, clips, artwork.</p>
    </div>
    <div class="education__lines">
      <div class="circle__left"></div>
      <p class="title__education" id="align__right">PILOTE @WINTEC RACING</p>
      <p class="date__education" id="align__right">JANVIER 2007 - Novembre 2015</p>
      <p class="date__education">Championnat Régional, France, Bridgestone cup, Euro Endurance, VdeV.</p>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'js/competences.js' %}"></script>
{% endblock %}
