{% extends 'base.html' %}

{% load static %}
{% block content %}
<div id="loader"></div>
<div class="coding__white">
  <div class="left__python">
    <img src="{% static 'img/SVG/python-lespoteaux.svg'%}" alt="">
  </div>
  <div class="right__python">
    <div class="number__bar">
      <div class="white__bar"></div>
      <div class="number"><span>01</span></div>
    </div>
    <div class="project__title">
      <p>Les Poteaux</p>
    </div>
    <div class="project__description">
      <p>Saraceni tamen nec amici nobis umquam nec hostes optandi, ultro citroque discursantes quicquid inveniri poterat momento temporis parvi vastabant milvorum rapacium similes, qui si praedam dispexerint celsius, volatu rapiunt celeri, aut nisi impetraverint, non inmorantur.</p>
    </div>
    <div class="project__tech">
      <p>Python, javascript</p>
    </div>
    <div class="project__link">
      <p>https://github.com/fmaillet24/OC-Lespoteaux</p>
    </div>
  </div>
</div>

<div class="coding__grey">
  <div class="left__python">
    <img src="{% static 'img/SVG/python-cryptorer.svg'%}" alt="">
  </div>
  <div class="right__python">
    <div class="number__bar">
      <div class="white__bar"></div>
      <div class="number"><span>02</span></div>
    </div>
    <div class="project__title">
      <p>Cryptorer</p>
    </div>
    <div class="project__description">
      <p>Saraceni tamen nec amici nobis umquam nec hostes optandi, ultro citroque discursantes quicquid inveniri poterat momento temporis parvi vastabant milvorum rapacium similes, qui si praedam dispexerint celsius, volatu rapiunt celeri, aut nisi impetraverint, non inmorantur.</p>
    </div>
    <div class="project__tech">
      <p>Python, Tkinter</p>
    </div>
    <div class="project__link">
      <p>https://github.com/fmaillet24/Cryptorer</p>
    </div>
  </div>
</div>

<div class="coding__white">
  <div class="left__python">
    <img src="{% static 'img/SVG/python-instabot.svg'%}" alt="">
  </div>
  <div class="right__python">
    <div class="number__bar">
      <div class="white__bar"></div>
      <div class="number"><span>03</span></div>
    </div>
    <div class="project__title">
      <p>InstaBot</p>
    </div>
    <div class="project__description">
      <p>Saraceni tamen nec amici nobis umquam nec hostes optandi, ultro citroque discursantes quicquid inveniri poterat momento temporis parvi vastabant milvorum rapacium similes, qui si praedam dispexerint celsius, volatu rapiunt celeri, aut nisi impetraverint, non inmorantur.</p>
    </div>
    <div class="project__tech">
      <p>Python, Tkinter, Selenium</p>
    </div>
    <div class="project__link">
      <p>https://github.com/fmaillet24/InstaBot_V2</p>
    </div>
  </div>
</div>

<div class="coding__grey">
  <div class="left__python">
    <img src="{% static 'img/SVG/python-ratepas.svg'%}" alt="">
  </div>
  <div class="right__python">
    <div class="number__bar">
      <div class="white__bar"></div>
      <div class="number"><span>04</span></div>
    </div>
    <div class="project__title">
      <p>Rate pas ton trome</p>
    </div>
    <div class="project__description">
      <p>Saraceni tamen nec amici nobis umquam nec hostes optandi, ultro citroque discursantes quicquid inveniri poterat momento temporis parvi vastabant milvorum rapacium similes, qui si praedam dispexerint celsius, volatu rapiunt celeri, aut nisi impetraverint, non inmorantur.</p>
    </div>
    <div class="project__tech">
      <p>Python, Flask, Ratp API, Javascript, Ajax</p>
    </div>
    <div class="project__link">
      <p>https://github.com/fmaillet24/ratpTiming</p>
    </div>
  </div>
</div>
{% endblock %}
