{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="content">
  <div class="social__link">
    <a target="blank" href="https://www.linkedin.com/in/felix-maillet-843a35156/"><i class="fab fa-linkedin"></i></a>
    <a target="blank" href="https://github.com/fmaillet24"><i class="fab fa-github"></i></a>
    <a target="blank" href="https://www.instagram.com/filoumaillet/"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="left__side">
    <div class="title">
      <h1>FELIX MAILLET</h1>
      <span id="typed"></span>
    </div>
  </div>
  <div class="right__side">
    <div id="circle__animation"></div>
  </div>
  <div class="scroll__arrow">
    <img src="{% static 'img/SVG/scroll.svg'%}" alt="">
  </div>
</div>

<div class="last__work__title">
  <div class="last__work__content">
    <h2>REALISE AVEC PASSION.</h2>
    <h5>Voici une selection de mes derniers projets.</h5>
  </div>
</div>

<div class="coding__tello">
  <div class="white__border"></div>
  <div class="right__display"></div>
  <div class="tello__description">
    <h3>LES POTEAUX.</h3>
    <div class="align__second">
      <h4>DJANGO PROJECT</h4>
      <h4>Voir tous les projets.</h4>
    </div>
  </div>
</div>

<div class="drone__car">
  <div class="left__display"></div>
  <div class="white__border"></div>
  <div class="car__description">
    <h3>Car Tracking.</h3>
    <div class="align__second">
      <h4>Voir tous les projets.</h4>
      <h4>DRONE PROJECT</h4>
    </div>
  </div>
</div>

<div class="last__work__title">
  <div class="last__work__content">
    <h2>MES SERVICES</h2>
    <h5>L'ensemble des services que je propose en freelance.</h5>
  </div>
</div>

<div class="content__service">
  <div class="services">
    <div class="services__box border__one">
      <p><i class="fab fa-sketch"></i></p>
      <p id="service__title">WEB DESIGN</p>
      <p id="service__description">Réalisation de design sur mesure.</p>
    </div>
    <div class="services__box border__two">
      <p><i class="fas fa-file-code"></i></p>
      <p id="service__title">WEB DEVELOPMENT</p>
      <p id="service__description">De la conception de la base de donnees au visuel.</p>
    </div>
    <div class="services__box border__three">
      <p><i class="fas fa-cogs"></i></p>
      <p id="service__title">WEB ANIMATION</p>
      <p id="service__description">Réalistion d'animation web sur mesure.</p>
    </div>
    <div class="services__box border__four">
      <p><i class="fab fa-python"></i></p>
      <p id="service__title">PYTHON DEVELOPMENT</p>
      <p id="service__description">Du developpement web au developpement en interface utilisateur.</p>
    </div>
    <div class="services__box border__five">
      <p><i class="fas fa-helicopter"></i></p>
      <p id="service__title">AERIAL CONTENT</p>
      <p id="service__description">Réalisation de contenu multimédia aérien, photos et vidéos.</p>
    </div>
    <div class="services__box border__six">
      <p><i class="fas fa-exclamation-triangle"></i></p>
      <p id="service__title">PROBLEM SOLVING</p>
      <p id="service__description">Vous avez un problème avec votre site ou encore avec un programme qui ne fonctionne plus? Contactez moi.</p>
    </div>
  </div>
</div>

<div class="index__footer">
  <a target="blank" href="https://www.linkedin.com/in/felix-maillet-843a35156/"><i class="fab fa-linkedin"></i></a>
  <a target="blank" href="https://github.com/fmaillet24"><i class="fab fa-github"></i></a>
  <a target="blank" href="https://www.instagram.com/filoumaillet/"><i class="fab fa-instagram"></i></a>
  <a target="blank" href="https://www.instagram.com/filoumaillet/"><i class="fab fa-youtube"></i></a>
  <a target="blank" href="https://www.instagram.com/filoumaillet/"><i class="fab fa-facebook"></i></a>
  <p><i class="far fa-copyright"></i> 2019 Félix Maillet</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
<script type="text/javascript" src="{% static 'js/writing.js' %}"></script>
{% endblock %}
