{% extends 'base.html' %}

{% load static %}
{% block content %}
<div id="loader"></div>
<div class="drone__row">
  <div class="drone__column">
    <img src="{% static 'img/drone_toit2.jpg' %}" alt="">
    <img src="{% static 'img/ponton.jpg' %}" alt="">
    <img src="{% static 'img/drone_toit2.jpg' %}" alt="">
    <img src="{% static 'img/ponton.jpg' %}" alt="">
    <img src="{% static 'img/drone_toit2.jpg' %}" alt="">
    <img src="{% static 'img/ponton.jpg' %}" alt="">
  </div>
  <div class="drone__column">
    <img src="{% static 'img/ponton.jpg' %}" alt="">
    <img src="{% static 'img/drone_toit2.jpg' %}" alt="">
    <img src="{% static 'img/ponton.jpg' %}" alt="">
    <img src="{% static 'img/drone_toit2.jpg' %}" alt="">
    <img src="{% static 'img/ponton.jpg' %}" alt="">
  </div>
  <div class="drone__column">
    <img src="{% static 'img/drone_toit2.jpg' %}" alt="">
    <img src="{% static 'img/ponton.jpg' %}" alt="">
    <img src="{% static 'img/drone_toit2.jpg' %}" alt="">
    <img src="{% static 'img/ponton.jpg' %}" alt="">
    <img src="{% static 'img/drone_toit2.jpg' %}" alt="">
    <img src="{% static 'img/ponton.jpg' %}" alt="">
  </div>
</div>
{% endblock %}
